/* Background generated with https://cssgradient.io/ */
body {
    background: rgb(10,220,232);
    background: linear-gradient(9deg, rgba(10,1,1,1) 0%, rgb(204, 204, 255) 100%);
    width: 100%;
    height:100vh;
}

.spaced {
    margin-top: 8px;
}

.margined {
    padding: 0;
}

th, td {
    padding: 1px;
    margin: 1px;
}

/* https://stackoverflow.com/questions/51299051/placeholder-color-change-in-bootstrap */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.list-group {
    margin: 0;
    padding: 0;
}

.outlined {
    border-color: rgba(0, 0, 0, 0.219);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: 4px;
    padding: 0;
}

.jumbotron {
    border-color: rgba(0, 0, 0, 0.219);
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.form-control:focus {
    border-color: #cb64eb;
    box-shadow: none;
}

.form-control {
    border-color: rgba(0, 0, 0, 0.219);
}

.btn {
    border-color: rgba(0, 0, 0, 0.219);
}

.btn:hover {
    border-color:  rgba(0, 0, 0, 0.219);
}

.btn:focus {
    border-color: #cb64eb;
    box-shadow: none;
}


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg) scale(1, 1);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg) scale(3, 3);
        opacity: 0;
        border-radius: 150%;
    }
}